/* Makeshift CSS Reset */
{
margin
:
 
0;
padding
:
 
0;
}
/* Tell the browser to render HTML 5 elements as block */
header,footer,aside,nav,article {
	display: block;
}


/*
*This stylesheet is using a color palette found on kuler, 'Sexy Leggings', http://kuler.adobe.com/#themeID/1842624.
*
*/


body {
	margin: 0 auto;
	width: 940px;
	font: 13px/ 22px Helvetica, Arial, sans-serif;
	background: #727F7D;
	padding: 10px;
	color:#B6CCC9;
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

a:link {
	color:#B5FFF3;
	} 
a:.visited {
    color:#B5FFF3;
}
a.deleteme:link{
	color:#097F6D;
	background-color:#E3FFFB;
	}
#content {
	display: table;
	margin: 10px;
	width: 100%;
}


#content_left {
	display: table-cell;
	width: 50%;
	padding-right: 22px;

}

#content_right {
	display: table-cell;
	width: 50%;
	padding-right: 22px;
}
#content .heading{
		display:block;
		padding:2 5 2 5;
		background: #464646;
		color:#F2F2F2;
	}
#content .aggregate{
	padding-left:5px;
	color: #F2F2F2;
	}
	
ul {
	list-style: none;
	width:100%;
}

li {
	width:100%;
	}

.timestamp{
	display: none;
	}
.description{
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 10px;
	color: #B6CCC9;
}
